input {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 150px;
    border: 1px solid blue;
}

button {
    width: 150px;
    background-color: black;
    color: white;
}

div {
    border: 1px solid rgb(247, 118, 4);
    background-color: rgb(188, 219, 209);
    text-align: center;
}