* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    /*variáveis*/
    --bg-color: rgb(73, 71, 71);
    --text-color: white;
}

body.white{
    /*variáveis*/
    --bg-color: white;
    --text-color: rgb(73, 71, 71);
}

body.blue{
    /*variáveis*/
    --bg-color: rgb(68, 12, 238);
    --text-color: rgb(242, 239, 239);
}

body.orange{
    /*variáveis*/
    --bg-color: rgb(252, 158, 7);
    --text-color: rgb(242, 239, 239);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container{
    /*border: 5px red solid;    /*cor da borda da div*/
    text-align: center;         /*alinhamento centralizado*/
    width: 300px;               /*tamanho da div*/
    margin: 10px auto;           /*centralizando a div no body*/
}

img{
    width: 100%;                /*colocando a imagem 100% visível dentro da div*/
    border-radius: 50%;
    width: 170px;
    height: 170px;
    padding: 4px;
    border: var(--text-color) solid 4px;
}

h1{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
}

h5{
    font-family: 'Roboto Mono', monospace;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    opacity: 0.8;
}

ul{
    list-style: none;
    margin: 36px 0;
}

ul li a{
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: green;
    color: var(--text-color);
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover{
    background: rgb(179, 177, 177);
}

ul li p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

ul li input{
    height: 40px;
    width: 200px;
    align-items: center;
    margin-bottom: 16px;
    color: var(--bg-color);
    border-radius: 6px;
}

.button{
    color: var(--text-color);
    background-color: green;
    transition: background 400ms;
}

.button:hover{
    background: rgb(179, 177, 177);
}

footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover{
    opacity: 1;
}

footer a{
    background-color: var(--bg-color);
    color: var(--text-color);
}