/*------Tags estruturais--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*variáveis*/
    --bg-color: rgb(92, 90, 90);
    --text-color: white;
}

body.dark{
    --bg-color: rgb(7, 7, 7);
    --text-color: white;
}

body.white{
    --bg-color: white ;
    --text-color: rgb(73,71,71);
}

body.blue{
    --bg-color: rgb(43, 6, 154) ;
    --text-color: rgb(242,239,239);
}

body.orange{
    --bg-color: rgb(204, 129, 8) ;
    --text-color: rgb(242,239,239);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

div{
    text-align: center;
    width: 300px;
    margin: 10px auto;
}

header{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
}

footer{
    margin-bottom: 24px;
    font-size: 12px;
    opacity: 0.4;
    transition: opacity 400ms;
}

footer:hover{
    opacity: 1;
}

/*------Tags de conteúdo--------*/
ul{
    list-style: none;
    margin: 20px 0;
}

input{
    height: 30px;
    width: 200px;
    align-items: center;
    margin-bottom: 16px;
    /*color: var(--text-color);*/
    border-radius: 6px;
}

p{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 16px;
    color: var(--text-color);
}

button{
    height: 25px;
    width: 100px;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 6px;
    color: white;
    background-color: green;
    transition: background 400ms;
}

button:hover{
    background: rgb(179, 177, 177);
}

a{ 
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}